doctype html
html
  head
    link(rel="stylesheet", href="./style.css")
    title paper.js test
  body
    canvas(id="myCanvas")
script(type='text/javascript', scr="opentype.js")
script(type='text/javascript', src="draw.js")
//- script(type='text/javascript',src="draw2.js")
//- script(type='text/javascript',src="drawfont.js")
//- script(type='text/javascript',src="hit-testing.js")
